# PyCity Schools Analysis 

There are 39170 students in total of 15 schools categorised into two school types.
Overall pass percentage of students in these 15 schools is 72.81% and Total budget of all schools is $24649428.00
Top 5 Highest performing schools by overall passing percentage are Cabrera High School, Thomas High School, Griffin High School, Wilson High School and Pena High School. All Top 5 performing schools are Charter schools.
5 Bottom performing schools by overall passing percentage are Rodriguez High School, Figueroa High School, Huang High School, Hernandez High School and Johnson High School. All bottom 5 performing schools are District schools.
Every school is consistent across all grades 9th,10th,11th and 12th grades in passing percentage in math, reading or overall.
Per capita spending on each student ranges upto $680
Spending Ranges has no direct relation to Overall pass percentage of students.
All district schools are Large Schools containing students size upto 5000 students
Small to Medium size schools are performing better by Over all passing percentage compared to Large Schools.


Conclusion:
Spending Ranges has no direct relation to Overall pass percentage of students.
Small to Medium size schools are performing better in achieving Overall passing percentage compared to Large Schools.
All Top 5 performing schools are Charter schools.

Using above information in analysis section, Increasing per student budget may not guarantee performance improvement rather spending per student budget on right resources may improve overall performance of school. Reducing size of large schools may show better results. By Implementing Learnings from Charter schools in district schools may show improvements in overall passing percentage.

In [7]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#  Local Government Area Summary

In [8]:
# Calculate the Totals (Schools and Students)
school_count = school_data.count()["school_name"]
school_count

15

In [9]:
# Calculate the Totals (Schools and Students)
student_count = student_data.count()["student_name"]
student_count

39170

In [10]:
# Calculate the Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [11]:
# Calculate the Average(mean)Scores

average_maths_score = student_data["maths_score"].mean()
average_maths_score

70.33819249425581

In [12]:
# Calculate the Average(mean) reading Scores
average_reading_score = student_data["reading_score"].mean()
average_reading_score

69.98013786060761

In [13]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
#passing_maths_count
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_maths_percentage

86.07863160582077

In [21]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

84.42685728874139

In [16]:
# Use the following to calculate the percentage of students that passed math and reading
passing_maths_reading_count = school_data_complete[
    (school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)
].count()["student_name"]
overall_passing_rate = passing_maths_reading_count /  float(student_count) * 100
overall_passing_rate

72.80827163645647

In [22]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "average_maths_score": [average_maths_score],
                                "Average Reading Score": [average_reading_score],
                                "% Passing Maths": [passing_maths_percentage],
                                "% Passing Reading": [passing_reading_percentage],
                                "% Overall Passing": [overall_passing_rate]
    
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,average_maths_score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [23]:
# Use the code provided to select all of the school types
school_types = school_data.sort_values("school_name")["type"]
school_types

7      Government
6     Independent
1      Government
13     Government
4     Independent
3      Government
8     Independent
0      Government
12     Government
9     Independent
11     Government
2     Independent
14    Independent
5     Independent
10    Independent
Name: type, dtype: object

In [24]:
# Calculate the total student count per school
# per_school_counts = school_data[['school_name', 'size']]
# per_school_counts 

grp_by_school = school_data_complete.groupby('school_name')
per_school_counts = grp_by_school.count()["student_name"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [25]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.sort_values("school_name")['budget']
per_school_capita = per_school_budget/list(per_school_counts)
per_school_budget
per_school_capita

7     628.0
6     582.0
1     639.0
13    644.0
4     625.0
3     652.0
8     581.0
0     655.0
12    650.0
9     609.0
11    637.0
2     600.0
14    638.0
5     578.0
10    583.0
Name: budget, dtype: float64

In [26]:
# Calculate the average test scores per school
per_school_maths = grp_by_school.mean('maths_score')["maths_score"]
per_school_reading = grp_by_school.mean('reading_score')["reading_score"]
per_school_maths
per_school_reading

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [28]:
# Calculate the number of students per school with maths scores of 50 or higher
students_passing_maths = school_data_complete[
    (school_data_complete["maths_score"] >= 50)
]
school_students_passing_maths = students_passing_maths.groupby(["school_name"]).size()
school_students_passing_maths

school_name
Bailey High School       4560
Cabrera High School      1688
Figueroa High School     2408
Ford High School         2258
Griffin High School      1339
Hernandez High School    3752
Holden High School        384
Huang High School        2383
Johnson High School      3907
Pena High School          882
Rodriguez High School    3631
Shelton High School      1612
Thomas High School       1371
Wilson High School       1890
Wright High School       1652
dtype: int64

In [29]:
# Calculate the number of students per school with reading scores of 50 or higher
students_passing_reading = school_data_complete[
    (school_data_complete["reading_score"] >=50)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4348
Cabrera High School      1655
Figueroa High School     2442
Ford High School         2252
Griffin High School      1299
Hernandez High School    3795
Holden High School        378
Huang High School        2376
Johnson High School      3903
Pena High School          833
Rodriguez High School    3495
Shelton High School      1527
Thomas High School       1351
Wilson High School       1856
Wright High School       1560
dtype: int64

In [31]:
# Use the provided code to calculate the number of students per school that passed both maths and reading with scores of 50 or higher
students_passing_maths_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 50) & (school_data_complete["maths_score"] >= 50)
]
school_students_passing_maths_and_reading = students_passing_maths_and_reading.groupby(["school_name"]).size()
school_students_passing_maths_and_reading

school_name
Bailey High School       3985
Cabrera High School      1501
Figueroa High School     1995
Ford High School         1848
Griffin High School      1194
Hernandez High School    3076
Holden High School        337
Huang High School        1946
Johnson High School      3199
Pena High School          762
Rodriguez High School    3176
Shelton High School      1389
Thomas High School       1136
Wilson High School       1540
Wright High School       1435
dtype: int64

In [32]:
# Use the provided code to calculate the passing rates
per_school_passing_maths = school_students_passing_maths / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_maths_and_reading / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

# Top Performing Schools (By % Overall Passing)

In [35]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending= False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
                                'School Type':list(school_types),
                                'Total Students':list(per_school_counts),
                                'Total School Budget':list(per_school_budget),
                                'Per Student Budget':list(per_school_capita),
                                'Average Maths Score':per_school_math,
                                'Average Reading Score':per_school_reading,
                                '% Passing Maths':per_school_passing_math,
                                '% Passing Reading':per_school_passing_reading,
                                '% Overall Passing':overall_passing_rate
    
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

In [36]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing")
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

In [53]:
# Create data series of scores by Year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_maths_scores = year_nine.groupby("school_name")
year_ten_maths_scores = year_ten.groupby("school_name")
year_eleven_maths_scores = year_eleven.groupby("school_name")
year_twelve_maths_scores = year_twelve.groupby("school_name")

# Combine series into single DataFrame
maths_scores_by_Year = pd.DataFrame({
    "year 9": year_nine_maths_scores["maths_score"].mean(),
    "year 10": year_ten_maths_scores["maths_score"].mean(),
    "year 11": year_eleven_maths_scores["maths_score"].mean(),
    "year 12": year_twelve_maths_scores["maths_score"].mean()
})


# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

                          year 9    year 10    year 11    year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [57]:
# Create data series of scores by Year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_reading_scores = year_nine.groupby("school_name")
year_ten_reading_scores = year_ten.groupby("school_name")
year_eleven_reading_scores = year_eleven.groupby("school_name")
year_twelve_reading_scores = year_twelve.groupby("school_name")

# Combine series into single DataFrame
reading_scores_by_year = pd.DataFrame({
    "year 9": year_nine_reading_scores["reading_score"].mean(),
    "year 10": year_ten_reading_scores["reading_score"].mean(),
    "year 11": year_eleven_reading_scores["reading_score"].mean(),
    "year 12": year_twelve_reading_scores["reading_score"].mean()
})


# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

                          year 9    year 10    year 11    year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [99]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [96]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

#school_spending_df.dtypes
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].map(lambda x: float(x.lstrip('$')))
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [103]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Per Student Budget'], spending_bins, labels=group_names, include_lowest=True)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",644.0,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",581.0,72.583138,71.660422,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",609.0,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.170828,68.876916,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.047222,70.969444,91.777778,86.666667,79.722222,<$585

In [104]:
#  Calculate averages for the desired columns.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/2002924180.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/2002924180.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/2002924180.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/2002924180.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/2002924180.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [107]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    'Average Maths Score': spending_maths_scores,       
    'Average Reading Score': spending_reading_scores,
    '% Passing Maths': spending_passing_maths, 
    '% Passing Reading': spending_passing_reading,     
    '% Overall Passing': overall_passing_spending
    })
# Display results
spending_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

#  Scores By School Size

In [112]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [113]:
# Categorize the spending based on the bins
per_school_summary["School Size"] = pd.cut(per_school_summary['Total Students'], size_bins, labels=group_names)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,Large (2000-5000)
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,Medium (1000-2000)
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051,Large (2000-5000)
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,Large (2000-5000)
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,Medium (1000-2000)
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617,Large (2000-5000)
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717,Small (<1000)
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376,Large (2000-5000)
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766,Large (2000-5000)
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979,Small (<1000)
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855,Large (2000-5000)
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639,Medium (1000-2000)
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122,Medium (1000-2000)
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103,Large (2000-5000)
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222,Medium (1000-2000)

In [114]:
size_maths_scores = per_school_summary.groupby(["School Size"])["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/3921322236.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_maths_scores = per_school_summary.groupby(["School Size"])["Average Maths Score"].mean()
/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/3921322236.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/3921322236.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_maths = per_school_summary.groupby(["School Size"])["% Passing Maths"].mean()
/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/3921322236.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
/var/folders/l_/wdtxpk3x7ls5_0lqjg20hg2r0000gn/T/ipykernel_13705/3921322236.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [115]:
# Assemble into DataFrame
size_summary = pd.DataFrame({'Average Maths Score': size_maths_scores,
                            'Average Reading Score': size_reading_scores,
                            '% Passing Maths': size_passing_maths,
                            '% Passing Reading': size_passing_reading,
                            '% Overall Passing': size_overall_passing
})

# Display results
size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

# Scores By School Type

In [116]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [117]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({'Average Maths Score': type_maths_scores,
                            'Average Reading Score':type_reading_scores,
                            '% Passing Math': type_passing_maths,
                            '% Passing Reading': type_passing_reading,
                            '% Overall Passing': type_overall_passing
})

# Display results
type_summary

,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340